@font-face{
    font-family: Parisienne;
    src: url('./../assets/DancingScript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: Roboto;
    src: url('./../assets/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: Roboto;
    src: url('./../assets/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

html,
body{
    min-height: 100svh;
}

body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 3rem;
}

nav > button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    font-family: 'Parisienne', cursive;
    font-weight: 700;
}

button:hover{
    border-bottom: 0.3rem solid black;
}

body{
    background: url('./../assets/restaurant_bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.bgSemiTransparentWhite{
    background-color: rgb(239,239,239,0.6);
}